<div class="flex-container">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <a href="#"><img src="../Images/7.png" /></a>
                <p>Открытие центра</p>
            </li>
            <li>
                <img src="../Images/8.png" />
                <p>Открытие центра</p>
            </li>
            <li>
                <img src="../Images/9.png" />
                <p>Открытие центра</p>
            </li>
            <li>
                <img src="../Images/10.png" />
                <p>Открытие центра</p>
            </li>
        </ul>
    </div>
</div>