<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <!-- Подключение Javascript как внешний ресурс -->
    <script defertype="text/javascript" src="../Static/JS/index.js"></script>
    <!-- Внутренний скрипт с вызовами функций -->
    <script>
        // обработка сессии
        handleSession(logger, checker /* Коллбек-функции */);

        // функция для получения пользовательского ввода
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
    </script>

</head>
<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <p class="search">
            Поиск:
            <input type="text" oninput="
            // Функция объявлена через declaration
            const inputParseFunction = function(){return document.getElementsByTagName('input')[0].value.toLowerCase();}
            // Вызов (функция в аргумент передаётся без круглых скобок)
            filterContent( inputParseFunction )" size=50%>
        </p>
    </header>
    <!--Сайд-бар страницы-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="index.html"><p>Все трансляции</p></a>
            <a href="about.html"><p>О проекте</p></a>
            <a href="testing.html"><p>Тестирование</p></a>
        </div>
    </aside>

    <div class="bordered">
        <!--Нью-Йорк-->
        <div class="video-container">
            <iframe width="250" height="250" src="https://www.youtube.com/embed/jpqzMa291dI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Live stream: Kanakull</h3>
        </div>
        <!--Namib Desert-->
        <div class="video-container">
            <iframe width="250" height="250" src="https://www.youtube.com/embed/ydYDqZQpim8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Live stream: Namib Desert</h3>
        </div>
        <!--Лондон-->
        <div class="video-container">
            <iframe width="250" height="250" src="https://www.youtube.com/embed/2GiaSr7YAEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Live stream: Margo Cam</h3>
        </div>
    </div>
    <footer>
        <p>LifeSpot - видео трансляции</p>
        <p>Разработка информационных страниц Sokelva. Контакты: sokelva@mail.ru</p>
    </footer>
</body>
</html>


